<header class="header">
    <div class="header-content">
        <div class="logo">
            <a href="index.html">
                <img src="img/logo.svg" alt="Логотип Європейського ліцею">
            </a>
        </div>
        <nav class="main-nav">
            <ul class="nav-list">
                <li class="nav-item has-submenu">
                    <a href="#" class="nav-link">Про ліцей</a>
                    <ul class="submenu">
                        <li><a href="visitingcard.html">Візитна картка</a></li>
                        <li><a href="history.html">Історія</a></li>
                    </ul>
                </li>
                <li class="nav-item has-submenu">
                    <a href="#" class="nav-link">Педагогічний колектив</a>
                    <ul class="submenu">
                        <li><a href="administration.html">Адміністрація</a></li>
                        <li><a href="teacher-certification.html">Атестація педагогів</a></li>
                        <li><a href="qualification-improvement.html">Підвищення кваліфікації</a></li>
                        <li><a href="methodical-events.html">Методичні заходи</a></li>
                    </ul>
                </li>
                <!-- Інші пункти меню -->
            </ul>
        </nav>
    </div>
</header> 